/* SIZES DEFINITIONS
-----------------------------------------------------*/

/* SIDE MENU
------------------------*/
$sidemenu__size--full: 200px;
$sidemenu__size--mobile: 75px;


/* FONTS
------------------------*/
$font-size : (
    hint:   12px,
    small:  12px,
    medium: 14px,
    common: 16px,
    header: 24px
);

/* PADDING
------------------------*/
$dialog__padding: 30px;
